.sdk-message{
    position: absolute;
    top: .95rem;
    left: 1.36rem;
    bottom: 0;
    right: 0;
    .message-main {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 0.04rem .26rem 0 rgba(204,204,204,0.46);
        border-radius: .1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        font-size: .24rem;
        width: 5.6rem;
        p{
            padding: .49rem 0.52rem;
            text-align: center;
            word-wrap: break-word;
            font-size: .30rem;
            color: #333333;
            line-height: .32rem;
            border-bottom: 1px solid #D2D3D5; /* no */
        }
        .foot-btn{
            display: flex;
            button{
                flex: 1;
                padding: .32rem 0;
                margin: 0 auto;
                display: inline-block;
                font-size: .36rem;
                color: #999999;
                line-height: .36rem;
                background: #FFFFFF;
                border: 0;
                
            }
            button+button{
                border-left: 1px solid #D2D3D5; /* no */
            }
            button:first-child{
                border-bottom-left-radius: .1rem;
            }
            button:last-child{
                border-bottom-right-radius: .1rem;
            }
            .ok{
                color: #5E97F6;
            }
        }
        
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: all .3s;
}
.fade-enter,
.fade-leave-to {
    margin-bottom: 10px;
    opacity: 0;
}
