.sdk-button {
    background: #FF9148;
    height: .6rem;
    border: none;
    color: #FFFFFF;
    min-width: 2.1rem;
    box-shadow: 0 .08rem .17rem 0 rgba(255,187,149,0.50);
    font-size: .28rem;
    border-radius: .06rem;
}
