.sdk-toast{
    pointer-events: none;
    position: absolute;
    top: .95rem;
    left: 1.36rem;
    bottom: 0;
    right: 0;
    .toast-main {
        position: absolute;
        background-color: rgba(38, 39, 41, 0.86);
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        font-size: .24rem;
        padding: .36rem .28rem;
        width: 2.48rem;
        color: #FDFDFD;
        letter-spacing: 0;
        line-height: .28rem;
        .type{
            width: .3rem;
            height: .3rem;
            margin: 0 auto;
            margin-bottom: .08rem;
        }
        .icon-success{
            background: url('../../assets/icon_tabbar_cat.jpg') no-repeat;
            background-size: 100%;
        }
        .icon-warn{
            background: url('../../assets/icon_tabbar_cat.jpg') no-repeat;
            background-size: 100%;
        }
        p{
            margin: .08rem 0;
            text-align: center;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: all .3s;
}
.fade-enter,
.fade-leave-to {
    margin-bottom: 10px;
    opacity: 0;
}
