.test {
    .myWidthDiv{
        font-size: .34rem;
        background-color: blue;
    }
    .div1{
        position: relative;
        background-color: gray;
        height: 12rem;
        width: 4rem;
        top: 0.5rem;
        margin: 0.5rem auto;
        overflow: hidden;
        .flowTest{
            position: absolute;
            background-color: red;
            top: 0.5rem;
            display: block;
            // width: 100%;
            width: 15rem;
            height: 6.0rem;
            font-size: .34rem;
            text-align: center;
            overflow: hidden;
            -webkit-animation: lampflow 35s linear infinite;
            animation: lampflow 35s linear infinite;
        }
    }
}
@keyframes lampflow {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(-15rem);
    }
}